git+https://github.com/Rapptz/discord.py
requests
aiohttp
pyfiglet
owotext
dadjokes
git+https://github.com/Gorialis/jishaku@master
pymongo
dnspython
psutil
git+https://github.com/LiBa001/disputils
PyNaCl
chatbotAI
topggpy
validators
motor
dblpy
twitchAPI
humanfriendly
pillow
typing
DiscordUtils
youtube_dl
python-dotenv
pytz
statcord.py
emojis

git+https://github.com/nirlep5252/epicbot-images
git+https://github.com/nirlep5252/Discord-Games.git
