git+https://github.com/Nirlep5252/discord.py
requests
aiohttp
pyfiglet
owotext
dadjokes
git+https://github.com/Gorialis/jishaku@master
pymongo
dnspython
psutil
PyNaCl
chatbotAI
topggpy
validators
motor
dblpy
twitchAPI
humanfriendly
pillow
typing
DiscordUtils
youtube_dl
python-dotenv
pytz
statcord.py
emojis
python-youtube

git+https://github.com/nirlep5252/epicbot-images
git+https://github.com/nirlep5252/Discord-Games.git
