discord
discord.py
aiohttp
datetime 
typing 
asyncio 
requests
pillow 
youtube_dl
discord.py[voice]
pytz
tzlocal
bs4
PyNaCl 
psutil
googletrans
pyfiglet
statcord.py
pymongo
dnspython
cffi
six
pycparser
git+https://github.com/LiBa001/disputils
dblpy
jishaku
