@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* vote epicbot and stop looking at the code kthxbai */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
*::selection {
  color: crimson;
}
html {
  scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background: #121212;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: crimson;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  z-index: 99999;
}
.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: absolute;
}
.home {
  display: flex;
  background: #121212 no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}
.home .max-width {
  margin: auto 0 auto 150px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}
.this-is-pain {
  position: absolute;
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.this-is-pain:hover {
  background: none;
  color: crimson;
}

section {
  padding: 100px 0;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 220px;
  height: 3px;
  background: #121212;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}

.features, .contributors {
  color: #fff;
  background: #121212;
  font-family: 'Poppins', sans-serif;
}
.features .title::before,
.contributors .title::before {
  background: #fff;
}
.features .title::after,
.contributors .title::after {
  background: #121212;
  content: "i can do a lot ><"
}
.features .features-content, 
.stats .stats-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
.card:hover {
  background: crimson;
}
.card:hover i {
  color: #fff;
}
.card .box {
  transition: all 0.3s ease;
}
.card:hover .box {
  transform: scale(1.05);
}
.card i {
  font-size: 50px;
  color: crimson;
  transition: color 0.3s ease;
}
.card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #fff;
}

.stats {
  font-family: 'Poppins', sans-serif;
  background: #fff;
}
.stats .title::after {
  content: "thank you <3";
}
.stats p {
  color: #fff;
  font-size: 18px;
}




.contributors .title::after {
  content: "amazing people";
}
.contributors .carousel .cardd {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  transition: all 0.3s ease;
}
.contributors .carousel .cardd:hover {
  background: crimson;
}
.contributors .carousel .cardd .boxx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
}
.contributors .carousel .cardd:hover .boxx {
  transform: scale(1.05);
}
.contributors .carousel .cardd .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.contributors .carousel .cardd img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid crimson;
  transition: all 0.3s ease;
}
.contributors .carousel .cardd:hover img {
  border-color: #fff;
}
.badges {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}
.badges.owner {
  background: crimson;
}
.badges.developer {
  background: orange;
  color: #121212;
  border: none;
}
.badges.supporter {
  background: #ff1476;
  color: #121212;
}
.badges.helper {
  background: #7289DA;
  color: #222;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid crimson!important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: crimson!important;
}

footer {
  font-family: 'Poppins', sans-serif;
  background: #121212;
  padding: 20px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: crimson;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}



/* haha responsiveness kill me pain halp me pls kthxbai */

@media (max-width: 1100px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1000px) {
  .max-width {
    padding: 0 50px;
  }
}


@media (max-width: 950px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #121212;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: block;
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 25px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 9px 25px;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
}



.loader-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #222;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}




.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;
}
.longfazers span {
  position: absolute;
  height: 4px;
  width: 20%;
  background: crimson;
}
.longfazers span:nth-child(1) {
  top: 20%;
  animation: lf 0.6s linear infinite;
  animation-delay: -5s;
}
.longfazers span:nth-child(2) {
  top: 40%;
  animation: lf2 0.8s linear infinite;
  animation-delay: -1s;
}
.longfazers span:nth-child(3) {
  top: 60%;
  animation: lf3 0.6s linear infinite;
}
.longfazers span:nth-child(4) {
  top: 80%;
  animation: lf4 0.5s linear infinite;
  animation-delay: -3s;
}
@keyframes lf {
  0% {
    left: -200%;
 }
  100% {
    left: 200%;
    opacity: 0;
 }
}
@keyframes lf2 {
  0% {
    left: -200%;
 }
  100% {
    left: 200%;
    opacity: 0;
 }
}
@keyframes lf3 {
  0% {
    left: -200%;
 }
  100% {
    left: 100%;
    opacity: 0;
 }
}
@keyframes lf4 {
  0% {
    left: -200%;
 }
  100% {
    left: 100%;
    opacity: 0;
 }
}
